<thead class='table__header'>
  <tr>
    <th class='header__title secondary__title'>Фото</th>
    <th class='header__title'>Название</th>
    <th class='header__title'>Производитель</th>
    <th class='header__title'>Контакт</th>
  </tr>
</thead>
<tbody class='tbody'>
  {{#each this}}
    <tr class='test'>
      <td class='image'><img src={{logo}} alt='logo' width='90' height='90' /></td>
      <td class='description'>
        <p class='text description__text'>
          {{description.description}}
        </p>
        <p class='secondary__title description__amount'>{{description.orderAmount}} EUR</p>
      </td>
      <td class='producer'>
        <h2 class='secondary__title producer__title'>{{name}}</h2>
        <address class='text producer__text'>
          {{address}}
        </address>
      </td>
      <td class='contact'>
        <h2 class='secondary__title contact__title'>{{contact.name}}</h2>
        <p class='text contact__text'>{{contact.position}}</p>
        <a class='text contact__number' href='tel:+48 537 600 755'>{{contact.number}}</a>
      </td>
    </tr>
  {{/each}}
</tbody>