{{#each this}}
  <li class='team__item'>
    <div class='rotate'></div>
    <img class='photo' width='100' src={{avatar}} alt='avatar {{firstName}} {{lastName}}' />
    <div class='description'>
      <h2 class='secondary__title'>{{firstName}} {{lastName}}</h2>
      <p class='text'>{{position}}</p>
      <ul class='social__list'>
        {{#each social}}
          <li class='social__item'>
            <a href={{link}} target='_blank' rel='noopener'>
              <svg width={{width}} height={{height}}>
                <use href={{icon}}></use>
              </svg>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </li>
{{/each}}